/* Roboto als Fließtext */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Montserrat für Überschriften */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #ec7f01; /* Beispielhafte Firmenfarbe */
    margin-top: 1em;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}


/* === BUTTONS === */
/* Google Maps */
#locations .btn-custom{
    background-color: #ec7f01;
    color: white;
}

#locations .btn-custom:hover{
    border-color: #ec7f01;
    background-color: white    ;
    color: #ec7f01;
}


/* Apple Maps & Google Bewertung */
#locations .btn-outline-custom {
    border-color: #ec7f01; /* Randfarbe */
    color: #ec7f01; /* Textfarbe */
}

#locations .btn-outline-custom:hover {
    background-color: #ec7f01; /* Hintergrundfarbe beim Hover */
    color: white; /* Textfarbe beim Hover */
}





/* === NAVIGATIONSLEISTE === */
.navbar {
    padding: 15px 0; /* Standardhöhe */
    background-color: white !important; /* Weiß mit Schatten */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.navbar.shrink {
    padding: 8px 0; /* Kleiner beim Scrollen */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Stärkere Schatten */
    padding: 5px 0;
}

.navbar-logo{
    width: 90px;
    height: 90px;
}

/* Navbar Hover */
.navbar-nav .nav-item .nav-link {
    position: relative;
    color: #000; /* Standardfarbe */
    transition: color 0.3s ease-in-out;
    text-decoration: none; /* Entfernt Standard-Unterstreichung */
}

.navbar-nav .nav-item .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #ec7f01; /* Farbe der Unterstreichung */
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ec7f01; /* Ändert die Schriftfarbe */
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}


/* Whatsapp */
.whatsapp-btn {
    background-color: #25D366;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 14pxx;
}

.whatsapp-btn:hover {
    background-color: #1EBE5D;
}

.whatsapp-logo {
    margin-right: 6px;    
}

#header-img{
    background: url('../img/Eingang_HH2.jpg') top/cover no-repeat;
    height: 80vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

/* === SERVICE BEREICH */
#service{
    background-color: #e7e4dc;
    width: 100vw;
}

#service .container{
    display:flex;
    flex-direction: row;
}

#service .service-item{
    flex-direction: row;
    justify-content: space-between;

}

.service-wrapper {
    background-color: white;
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* leichter Schatten */
  }

.service-img{
    width: 75px;
    height: 75px;
    object-fit: contain;
    transition: transform 1s;

}

.service-img:hover{
    transform: rotateZ(360deg);
}

@media (max-width: 768px) {
    .service-wrapper {
      width: 80px;
      height: 80px;
      padding: 15px;
    }
  
    .service-img {
      width: 40px;
      height: 40px;
    }
  }
  

/* === STANDORTE === */
.carousel-item{
    max-height: 460px;
    object-fit: cover;
}

.standort {
    /* background: #f8f8f8; */
    padding: 1em;
    margin-bottom: 1em;
    border-left: 5px solid #ec7f01;
    border-radius: 8px;
}

.standort h3{
    color: #ec7f01;
    letter-spacing: 0.5px;
    margin-left: 40px;
}
.standort-icon{
    width: 50px;
    height: 16px;
    color: #ec7f01;

}

/* Tabelle in Standorte */
table {
    width: 100%;
    letter-spacing: 0.5px;
}

td {
    padding: 8px;
    vertical-align: top;
    
}

.spalte1 {
    text-align: right;
    vertical-align: top;
}

.spalte2 {
    width: 90%;

}
.spalte2 > a{
    text-decoration: none;
    color: inherit;
}


/* === PARTNER === */
/* Infinite Scroll Animation 
Erstellt mit Hilfe von Youtube-Video: https://www.youtube.com/watch?v=Reu0hHbis5w  */
.scroll-wrapper{
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden; /*Behält das item in der Wrapper Box */
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}

@keyframes scrollLeft{
    to{
        left: -200px;
    }
}

.scroll-item{
    width: 200px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 7), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*startet immer wieder neu */
    /* filter: grayscale(100%); */

}

.scroll-item1{
    animation-delay: calc(30s / 7 * (7 - 1) * -1); /*Berechnung für das Starten nacheinander*/
    background: url("../img/Anbieter/ABS_Bremsen.jpg") no-repeat center;
    background-size: contain;
}

.scroll-item2{
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
    background: url("../img/Anbieter/Ester.jpg") no-repeat center;
    background-size: contain;
}

.scroll-item3{
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
    background: url("../img/Anbieter/MANNOL.jpg") no-repeat center;
    background-size: contain;
}

.scroll-item4{
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
    background: url("../img/Anbieter/OEM.jpg") no-repeat center;
    background-size: contain;
}

.scroll-item5{
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
    background: url("../img/Anbieter/OSOM_System.jpg") no-repeat center;
    background-size: contain;
}

.scroll-item6{
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
    background: url("../img/Anbieter/PETEC2.jpg") no-repeat center;
    background-size: contain;
}

.scroll-item7{
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
    background: url("../img/Anbieter/ROWE1.jpg") no-repeat center;
    background-size: contain;
}

/* === COOKIES === */
#cookieConsentBox{
    z-index: 9999;
    display: none;
    max-width: 500px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ec7f01;
}





/* === FOOTER === */

#footer a{
    text-decoration: none;
    color: white;
}
#footer .folge-uns-container{
    display: flex;
}
#footer .icon-wrapper{
    transition: transfrom .2s ease-in-out;
    margin-right: 15px;
}

#footer .icon-wrapper:hover{
    transform: scale(1.2);
}

#footer .footer-header{
    color: #ec7f01;
    letter-spacing: 0.1rem;
}

.footer-img-logo{
    width: 300px;
    height: 80px;
}

#footer .rechtliche-links:hover{
    text-decoration: underline;
}
